@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root{
    --background-color:#f4f4f4;
    --color-orange: #F05123;
    --color-orange-dark:#F3500F;
    --color-orange-light: #F16527;
    --color-gray-light: #e4e4e4;
    --color-text: #333333;
    --color-gray-light-1:#f1f1f1;
    --color-primary-light:#00e8e8;
    --color-primary-dark:#098080;

}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

body{
    background-color: var(--background-color);
}

a:hover{
    text-decoration: none !important;
}

h1{
    font-size:50px !important;
    line-height: 80px !important;
}

h2{
    font-size:40px !important;
    line-height:50px !important;
}

h3{
    font-size:20px !important;
    line-height: 36px !important;
}

.color-text{
    color:var(--color-text);
}

@keyframes scaleUp-X{
    0%{
        transform: scaleX(0);
        transform-origin: 0% 0%;
    }

    100%{
        transform: scaleX(100%);
        transform-origin: 0% 0%;
    }
}

@keyframes scaleDown-X{
    0%{
        transform :scaleX(100%);
        transform-origin: 0% 0%;
    }
    100%{
        transform: scaleX(0);
        transform-origin: 0% 0%;
    }
}

.title{
    text-align: center;
    background: -webkit-linear-gradient(rgb(211, 198, 198), #F16527);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* ##################main-nav######################## */
.main-nav{
    position: fixed !important;
    top:20px;
    left:0;
    transition: .3s linear;
    width:100%;
    z-index: 1000 !important;
    opacity:0;
    visibility: hidden;
    transition: all .2s ease-in;
}

.main-nav--show{
    opacity:1;
    visibility: visible;
}

.main-nav--black{
    background-color:#000;
}

.main-nav--move{
    transform: translateY(-20px);
}
.navbar-brand{
    font-size:35px !important;
    font-family: 'Pacifico', cursive;
    color: var(--color-orange-light) !important;
}

.navbar-brand span{
    color :#00e8e8;
}

.nav-item{
    position: relative;
    margin-right:1rem;
    transition: all .2s ease-in;
}

.nav-link{
    color: var(--background-color)!important;
    transition: all .2s ease-in;
}

.item-active:before{
    content: "";
    width:100%;
    height:2px;
    background:#fff;
    position: absolute;
    left:0;
    top: calc(100% + 5px );
}

.nav-item--animate:hover:before{
    content: "";
    width:100%;
    height:2px;
    background:#fff;
    position: absolute;
    left:0;
    top: calc(100% + 5px );
    animation: scaleUp-X .4s ease;
}

.scaleX-down:before{
    animation: scaleDown-X .4s ease !important;
}

/* ###################### end main-nav ####################################### */

/* ##################################footer####################################### */
.footer{
    background: #252B2D;
    color:#f1f1f1;
}
.media-list{
    list-style: none;
}

.media-link{
    text-decoration: none;
    color:#8E979D;
    font-size:25px;
    transition: all .2s ease-in;
}

.media-link:nth-child(1):hover{
    color:#3072c4 ;
}

.media-link:nth-child(2):hover{
    color:#e6402ae8; 
}

.media-link:nth-child(3):hover{ 
    color:rgb(72, 153, 173); 
}
.footer__header{
    font-size:25px;
    margin-bottom: 20px;
}
.media-link{
    display:inline-block;
    margin: 10px ;
}

.footer__list{
    list-style: none;
}

.footer__item{
    margin: 10px 0;
}
.footer__link{
    text-decoration: none;
    color: #f1f1f1;
    transition: all .2s ease-in;
}

.footer__link i{
    margin-right:10px;
}

.footer__link:hover{
    text-decoration: none;
    color: var(--color-orange-light);
}

.footer-text{
    background-color:#23272A;
    text-align: center;
    padding: 20px;
    font-size:16px;
}

.footer__qr{
    display:flex;
}

.qr-box{
    width:50%;
    padding:5px;
    margin: 0 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qr-box a{
    margin: 10px 0;
}
.qr-box img{
    width:100%;
}


/* ##########################button#############################*/

.btn-small,
.btn-small:link,
.btn-small:visited{
    display:inline-block;
    padding: 5px 15px;
    font-size:14px;
    border-radius: 19px;
    color:white;
    /* transform: translateY(0); */
    box-shadow: 0 0 0 0;
    transition: all .2s linear;
}

.btn-small:hover{
    text-decoration: none;
    color:white;
    /* transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    transition: all .2s linear; */
}

.btn-moveUp:hover{
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.btn-moveDown:active{
    transform: translateY(-1px); 
}
/* .btn-small:active{
    transform: translateY(-1px);
} */

.btn-cost{
    background-color: #B80257;
}

.btn-free{
    background-color: var(--color-orange-light);
}

.btn-large{
    display:inline-block;
    margin-top:50px;
    padding:15px 40px;
    font-size:16px;
    border-radius: 30px;
    transition: all .2s linear;
}

.btn-large:hover{
    text-decoration: none;
}

.btn-md{
    margin-top:20px;
    padding: 10px 30px;
    font-size:14px;
    border-radius: 20px;
    outline: none;
    border:none;
}

.btn-primary-light{
    background-color: var(--color-primary-light);
    color:#fff;
    font-size:16px;
    font-weight: 700;
    transition: all .2s linear;
}

.u-disabled{
    pointer-events: none;
    cursor: not-allowed;
    opacity: .5;
}