@import './base.css';
@media only screen and (max-width: 992px){
    .product-menu{
        display: none;
    }

    .nav-black{
        background-color: #000 !important;
    }

    .big-title{
        font-size: 40px !important;
    }

    .sub-nav{
        position: fixed;
        top:0;
        left:0;
        width:100%;
        z-index: 1000 !important;
    }

    .nav-hide-lg{
        display:none;
    }

    .navbar{
        padding: 0 !important;
    }

    .navbar-brand{
        margin-left:20px;
    }

    .navbar-toggler{
        margin-right: 20px;
        border:0px !important;
    }

    .item-active{
        background-color:#ccc;
    }

    .item-active .nav-link{
        color: #333 !important;
    }

    .nav-item:before{
        display:none;
    }

    .nav-item{
        margin-right: 0;
        padding: 30px;
    }

    .nav-item:hover{
        background-color:#ccc;
    }
    
    .nav-item:hover .nav-link{
        color: #333 !important;
        transform: translateX(20px);
    }

}

@media(min-width: 768px) and (max-width:992px){
    .navbar-brand{
        font-size:35px !important;
    }
}

@media only screen and (max-width: 767px){
    
    /* ###############index########### */
    .big-title{
        font-size:35px !important;
        line-height: 40px !important;
    }

    .small-title{
        display: none;
    }

    .navbar-brand{
        font-size:30px !important;
    }
    .small-title{
        font-size:20px;  
    }

    /* ######################about####################### */
    .about-pic{
        width:80%;
    }

    .about-content{
        padding:20px;
    }

    .about-content{
        width:80%;
    }

}

@media only screen and (max-width: 576px){
    .card-title{
        --line-height:1.2rem;
        font-size: 18px;
        line-height: var(--line-heght) !important;
        height: var(--line-height);
    }

}

@media only screen and (max-width: 600px){
    .owl-dots{
        display:none !important;
    }

    .carousel__item{
        width:80%;
        margin-left: 10% !important;
        margin-right: 0 !important;
    }
}