@import "./base.css"; 

header{
    background-image: linear-gradient(to right,rgba(0,0,0,.4),rgba(0,0,0,.6)),url("../img/background-1.jpg"); 
    width:100%;
    height:100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

}

.header__body{
    position: absolute;
    top:40%;
    transform: translate(0,-50%);
}




.btn__class{
    font-size:20px !important;
    border-radius: 10px !important;
    padding: 10px 20px !important;
}

/* ##################intro section######################## */
.intro-card{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-card__pic{
    width:50%;
}

.intro-card__pic img{
    width:100%;
}

.intro-card__text{
    text-align: center;
    font-size:18px;
    font-weight: 700;
    margin-top:20px;
}


/* ##################advantage-section######################## */

.advantage-section{
    background-image: linear-gradient(to right,rgba(250, 250, 250, 0.7),rgba(255, 251, 251, 0.7)), url(../img/advantage.jpg);
    /* background-image: linear-gradient(to right,rgba(163, 163, 163, 0.7),rgba(185, 178, 178, 0.7)), url(../img/advantage.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.advantage-card{
    width:100%;
    margin: 20px 0;
}

.advantage-icon__box{
    width:80px;
    height:80px;
    border-radius: 50%;
    background-color:var(--color-orange-light);
    position: relative;
    margin: 0 auto;
}

.advantage-icon__overlay{
    position: absolute;
    /* top:50%;
    left:50%;
    transform: translate(-50%,-50%); */
    top:3px;
    left:3px;
    height:74px;
    width:74px;
    border-radius: 50%;
    background-color: white;
    transition: all .3s linear;
    transform-origin: 50% 50% 0;
}

.advantage-icon{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size:40px;
    color:var(--color-orange-light);
    transition: all .1s
}

.advantage-card:hover .advantage-icon__overlay{
    transform: scale(0);
    transform-origin: 50% 50% 0;
}

.advantage-card:hover .advantage-icon{
    color:white;
}

.advantage-content__title{
    --line-heght: 2rem;
    line-height:var(--line-heght) !important;
    height: calc(var(--line-heght) * 2 );
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    -webkit-tap-highlight-color: transparent;
}

.advantage-content__text{
    font-weight: 500;
}

/* ########################owl carousel###################### */
.carousel__item{
    height:200px;
    border: 2px solid #999;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
}

.carousel__img{
    width:150px;
}

.owl-dots{
    display:flex;
    justify-content: center;
}

.owl-dot{
    width: 20px !important;
    height:20px;
    background-color: #666 !important;
    margin: 15px 5px;
    border-radius: 100%;
    transition: all .3s ease-in;
}

.owl-dots .active{
    background-color: #ccc !important;
}

.owl-nav{
    display:none;
}
